.modal-header {
    color: rgb(36, 30, 18);
    font-family: Walsheim, sans-serif;
    margin-top: 0px;
    position: relative;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: initial;
    transition-property: all;
    text-align: left;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.25;
}
.lang-label {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    margin-top: 0px;
    position: relative;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: initial;
    transition-property: all;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}